*
{
	margin: 0;
	padding: 0;
}

html,body
{
	width: 100%;
	height: 100%;
}

body
{
	font-family: arial;
	background: radial-gradient(circle,grey,#000);
}

.container
{
	padding-top: 1px;
	text-align: center;
}

.main
{
	width: 60%;
	height: 450px;
	margin: auto;
	margin-top: 50px;
	/*background-color: #fff;*/
	border-radius: 5px;
	transform: scale(0);
	overflow: hidden;
	position: relative;
}

.main_login_container,.main_signup_container
{
	width: 100%;
	height: 450px;
	background-color: #fff;
	box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.2);
	position: absolute;
	top: 0;
	display: flex;
}

.login_form_container
{
	width: 50%;
	height: 100%;
}

.login_heading
{
	width: 100%;
	margin-top: 50px;
	text-align: center;
}

.login_social_media_icons
{
	width: 100%;
	text-align: center;
	margin-top: 10px;
}

.login_social_media_icons img
{
	width: 30px;
	padding: 3px;
	border: 1px solid rgba(0, 0, 0, 0.5);
	border-radius: 100%;
	cursor: pointer;
}

.login_social_media_icons img:nth-child(1)
{
	margin-right: 10px;
}


.text_use_option
{
	width: 100%;
	margin-top: 20px;
	text-align: center;
	color: rgba(0, 0, 0, 0.5);
}


form.form_login
{
	width: 100%;
	text-align: center;
}


form.form_login input
{
	width: 60%;
	height: 20px;
	padding: 5px 10px;
	margin-top: 10px;
	outline: none;
	border: none;
	border: 2px solid #000;
	font-size: 17px;
	border-radius: 5px;
}

.text_forgot_password
{
	width: 100%;
	margin-top: 20px;
	text-align: center;
	color: rgba(0, 0, 0, 0.5);
	cursor: pointer;
}

.log_in_btn
{
	width: 100px;
	margin-top: 30px;
	padding: 10px 0;
	border-radius: 10px;
	border: none;
	border: 3px solid #7138F0;
	background-color: transparent;
	cursor: pointer;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.1),inset 0px 0px 10px rgba(255,255,255,0.1);
	transition: all .5s;
}

.log_in_btn:hover
{
	box-shadow: 0px 0px 10px rgba(0,0,0,0.3),inset 0px 0px 10px rgba(255,255,255,0.1);
}

.log_in_btn:active
{
	transform: scale(0.98);
	box-shadow: 0px 0px 10px rgba(0,0,0,0.3),inset 0px 0px 10px rgba(255,255,255,0.3);
}



/**********************************************/
.login_title_container
{
	width: 50%;
	height: 100%;
	color: #fff;
	background: linear-gradient(to right,#9B41ED,#7138F0);
	text-align: center;
}

.login_title_container h1
{
	width: 100%;
	margin-top: 100px;
}

.login_title_container p
{
	width: 70%;
	margin: auto;
	margin-top: 20px;
	line-height: 25px;
}

.login_title_container button
{
	width: 100px;
	margin-top: 30px;
	padding: 10px 0;
	border-radius: 10px;
	border: none;
	border: 3px solid #FFFFFF;
	/*background-color: #7138F0;*/
	background-color: transparent;
	color: #fff;
	cursor: pointer;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.1),inset 0px 0px 10px rgba(255,255,255,0.1);
	transition: all .5s;
}

.login_title_container button:hover
{
	box-shadow: 0px 0px 10px rgba(0,0,0,0.3),inset 0px 0px 10px rgba(255,255,255,0.1);
}

.login_title_container button:active
{
	transform: scale(0.98);
	box-shadow: 0px 0px 10px rgba(0,0,0,0.3),inset 0px 0px 10px rgba(255,255,255,0.3);
}



/*********************************************************************************/
/*********************************************************************************/
/*********************************************************************************/
/*********************************************************************************/
.main_signup_container
{
	/*transform: rotateY(90deg);*/
	transform: scale(0);
}


#invalid,#invalid1,#invalid2,#invalid3
{
	width: 20px;
	display: none;
	position: absolute;
}

#invalid
{
	top: 195px;
	right: 360px;
}

#invalid1
{
	top: 238px;
	right: 360px;
}

#invalid2
{
	top: 238px;
	right: 60px;
}

#invalid3
{
	top: 283px;
	right: 60px;
}